BOT_TOKEN=
ADMIN_TELEGRAM_ID=
ADMIN_SETUP_CODE=
MINI_APP_URL=https://finotebirhan-ticket.vercel.app
VERIFY_ET_API_KEY=
VERIFY_ET_BASE_URL=https://verify.et
DEFAULT_PAYMENT_PROVIDER=cbe
DEFAULT_PAYMENT_ACCOUNT_NAME=Eyerusalem Fikadu
DEFAULT_PAYMENT_ACCOUNT_NUMBER=1000376307623
DB_PATH=./data/finotebirhan.sqlite
RESERVATION_MINUTES=10
MANUAL_REVIEW_MINUTES=30
POLL_TIMEOUT_SECONDS=125
